.home {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 50px auto;
  text-align: center;
  #search {
    margin: 0 auto 40px auto;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    input {
      background: #fff;
      padding: 16px 50px 16px 25px;
      box-sizing: border-box;
      width: 100%;
      font-size: 22px;
      line-height: 14px;
      color: #000;
      border: none;
      border-radius: 20px;
    }

    #btn-search {
      padding: 0;
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: transparent;
      width: 22px;
      height: 24px;

      img {
        font-size: 0;
        width: 100%;
        max-width: 100%;
        cursor: pointer;
      }
    }

    #close-search {
      padding: 0;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 25px;
      display: none;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        max-width: 100%;
        font-size: 0;
      }
    }
  }

  button.clear {
    width: 250px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid $light;
    color: $light;
    font-size: 24px;
    border-radius: 20px;
    margin: 0 auto 50px auto;
    font-family: $text;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $light;
      color: $black;
    }
  }
  p.homeText {
    font-family: $smallText;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    img {
      font-size: 0;
      width: 100%;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 50px;
      box-shadow: 0 0 30px #000;
    }
  }

  h3.error {
    font-size: 36px;
  }
}
